[Desktop Entry]
Comment=
Terminal=false
Name=ethOS Stats panel
Exec=/bin/bash -c "/usr/bin/chromium-browser -a \"http://f23d9e.ethosdistro.com\""
Type=Application
Icon=/usr/share/icons/hicolor/scalable/apps/chromium-browser.svg